name: Latest Build
on:
    push:
        branches: [master]
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v6.0.1
            -
                name: Configure Java
                uses: actions/setup-java@v4.7.1
                with:
                    java-version: 21
                    distribution: temurin
            -
                name: Checks
                run: bin/gradlew checkAll
