on: [pull_request]
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout
                uses: actions/checkout@v4.3.0
            -
                name: Configure Java
                uses: actions/setup-java@v5.2.0
                with:
                    java-version: 21
                    distribution: temurin
            -
                name: Checks
                run: bin/gradlew checkAll
